@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu-item{
    border-bottom: 1px solid lightgray;
    text-align: left;
    cursor: pointer;
    padding-bottom: 20px;
    padding-left: 15px;
}

.menu{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 280px;
}

.side-bar-header-links {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #191919;
}

.menu::-webkit-scrollbar{
    display: none;
}